.bio-container-open {
  bottom: 20%;
  right: 20%;
  opacity: 1;
  transition: all 1s 1.4s;
  z-index: 1;
}

.bio-container-closed {
  bottom: 50%;
  right: 50%;
  opacity: 0;
  transform: translate(50%, 50%);
  z-index: -1;
}

@media only screen and(max-width: 400px) {
  .bio-container-open {
    bottom: 18%;
    right: 2%;

    h2 {
      padding-left: 1.6rem !important;
    }
  }
}
