.modal-button-section {
  background-color: transparent;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;

  p {
    cursor: pointer;

    &:hover {
      text-shadow: 0 2px 5px $color-blue-lightest;
    }
  }
}
